.button {
  all: unset;

  background-color: var(--primary);
  color: var(--text-over-primary);
  padding: 1rem;
  border-radius: 1rem;
  transition: var(--transition-default) background-color;
}

.button:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}
